.container {
    padding: 70px 40px;
    text-align: center;
}

h2 {
    font-size: 45px;
    text-transform: uppercase;
}

img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: grey;
    min-height: 100vh;
}
  
.list-wrapper{
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.flag {
    width: 10px;
}
  
.list-item {
    text-align: left;
    width: 18%;
    border: 2px solid white;
    color: white;
    position: relative;
    background-color: black;
    user-select: none;
}
  
.list-item:hover .description {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
}

img {
    display: block;
}
  
p, .flag {
    padding: 5px 0;
    margin-left: 10px;
}
  
.title-info {
    font-weight: 700;
}
  
.description {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    padding: 10px;
    overflow-y: auto;
}
  
i {
    padding: 0 2px;
}
  
.fa-solid {
    color: gold;
}
  
.fa-regular {
    color: lightgrey;
}
  
@media all and ( max-width: 550px) {
  
    .list-item {
      width: 65%;
    }
  
}